*{
    font-size: 12px;
    font-family: 'Times New Roman';
}

.parent{
    margin: auto;
    padding: 50px;
}

h1, h2, h3, h4{
    font-family: 'liberation serif';
    font-size: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
   }